[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
python-decouple = "*"
django-cors-headers = "*"
djongo = "*"
pymongo = "==3.12.3"
django-jazzmin = "*"
requests = "*"
social-auth-app-django = "*"
bcrypt = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
